day4-munit/src/main/mule/day4-munit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f05363ef-5637-4b11-bc1c-b63d38c37b47" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="day4-munitFlow" doc:id="a60c4418-0efd-4423-95fd-a35cd933f184" >
		<http:listener doc:name="Listener" doc:id="eeb8be51-abed-46cd-9cb0-0d8b749f5ebc" config-ref="HTTP_Listener_config" path="/munit"/>
		<choice doc:name="Choice" doc:id="e7f8a737-8356-4764-8167-f1644374d9f5" >
			<when expression='#[payload.choice == "first"]'>
				<logger level="INFO" doc:name="Logger" doc:id="13cfc8ab-f10e-4f97-a344-50a3587d8754" message='"payload.choice == "first""'/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="ed7ac6ee-2f88-445f-b584-ceeed82c1490" message='payload.choice == "default"'/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="30aef419-a916-4df9-a1c6-8d2387261e2f" message="#[payload]"/>
	</flow>
</mule>
